
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/ArticleSS.css" media="all" />
</head>

<body style="font-family:'Times New Roman', Times, serif">
    <h1>Articles</h1>
    <p class="fs-5 mb-4">In this section we can find the articles published by our experts, with this segment we seek that our specialists feel free to be able to publish their opinions about the topics that are worked on in the area of health and psychology.</p>


    <div class="row">
        <div class="article1">
            <img src="~/Images/Articulo_1.png" alt="s2" style="width:80%" />
            <h7>Figure 1</h7>
        </div>

        <div class="article1">
            <img src="~/Images/Articulo_2.png" alt="s2" style="width:80%" />
            <h7>Figure 2</h7>
        </div>
    </div>


    <p class="fs-5 mb-4">In figure 1 we can see the different items we can see the following:</p>
    <li>
        <h7>Which specialist published the article?</h7>
    </li>
    <li>
        <h7>What date was it published?</h7>
    </li>
    <li>
        <h7>Topic to be covered in the article</h7>
    </li>

    <p class="fs-5 mb-4">The specialist will not have any type of limit when creating articles since we have been in favor of unlimited article creation because we see it as something beneficial for both the specialist and the patients who use the application.</p>

    <p class="fs-5 mb-4">In figure 2 we can see the content of the article, at the time of writing an article there is no character limit, so the specialist can feel free when expressing his ideas or opinions. This as long as the article does not deal with racial issues, gender ideologies, politics, etc.</p>
</body>

