@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address style="font-family:'Times New Roman', Times, serif">
    Intec<br />
    Avenida de Los Próceres #49, Los Jardines del Norte 10602<br />
    <abbr title="Phone">P:</abbr>
    (809) 567-9271
</address>

<address style="font-family:'Times New Roman', Times, serif">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">emotions@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">emotions@outlook.com.ar</a>
</address>