
@{
    ViewBag.Title = "HowTo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/HowToSS.css" media="all" />
</head>

<body style="font-family:'Times New Roman', Times, serif">
    <h1>How to install Emotions</h1>
    <p class="fs-5 mb-4">In this section we will explain the requirements you need to be able to install and use our application effectively.</p>


    <div class="row">
        <div class="install">
            <img src="~/Images/InicioSesion_1.png" alt="s2" style="width:80%" />
            <h7>Figure 1</h7>
        </div>

        <div class="install">
            <img src="~/Images/Landing Page.png" alt="s2" style="width:80%" />
            <h7>Figure 2</h7>
        </div>
    </div>

    <h2>Hardware Requirements</h2>
    <p class="fs-5 mb-4">Because the system consists of two applications, the list of requirements is different. For the Web Application (Server/Backoffice), the necessary hardware must comply with the following:</p>
    <li>
        <h7>Dual 64-bit Intel Xeon E5-2670V3 2.5 GHz processor or higher specifications.</h7>
    </li>
    <li>
        <h7>At least 2GB of RAM.</h7>
    </li>
    <li>
        <h7>At least 4 virtual processors (vCPUs).</h7>
    </li>
    <li>
        <h7>Minimum required storage space of 1GB.</h7>
    </li>


    <h2>Software Requirements</h2>
    <p class="fs-5 mb-4">Regarding the Mobile Application (Client), the mobile device (hardware) must follow the following specifications:</p>
    <li>
        <h7>Android 4.1/IOS 9 system or higher.</h7>
    </li>
    <li>
        <h7>Storage of 200MB available or higher.</h7>
    </li>

    <h2>Steps to Install Emotions</h2>
    <p class="fs-5 mb-4">The steps to install the application are as follows:</p>
    <li>
        <h7>Search the app store on your Android/iOS device.</h7>
    </li>
    <li>
        <h7>You will write the name of the application in the search box (It is located at the top of the screen).</h7>
    </li>
    <li>
        <h7>Touch the search button.</h7>
    </li>
    <li>
        <h7>Select the application in the results you have obtained.</h7>
    </li>
    <li>
        <h7>Touch the install button which is a green button in the case of Android and Get which is a blue button in the case of iOS.</h7>
    </li>
    <li>
        <h7>Touch the open button.</h7>
    </li>



</body>

