
@{
    ViewBag.Title = "Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/MeetingSS.css" />
</head>
<body>
    <h1>Meeting</h1>
    <p class="fs-5 mb-4">In this section you can see how you can schedule your meeting and at the same time we will show you how our interface looks.</p>

    <div class="row">
        <div class="meeting">
            <img src="~/Images/Meeting_Emotion1.png" alt="s2" style="width:30%" />
        </div>
    </div>

    <p class="fs-5 mb-4">Here we can see how the chat together with the options we offer to create the meetings.</p>
    <p class="fs-5 mb-4">The user has the opportunity to choose the following options:</p>
    <li>
        <h7>If you want to communicate normally with the specialist you can do so using the "Audio call" option.</h7>
    </li>
    <li>
        <h7> If the user or the specialist needs to communicate face to face and for some reason they cannot meet in person, they can use the "video call" option.</h7>
    </li>
</body>


