
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/ProfilesSS.css" media="all" />
</head>

<body style="font-family:'Times New Roman', Times, serif">
    <h2>Profiles</h2>

    <p class="fs-5 mb-4">In this section we will see how specialists/patients can create their accounts to be able to use our application, we will also be able to see how the interface of our application looks when the user who logs in is a specialist or user.</p>


    <div class="row">
        <div class="pro">
            <img src="~/Images/TipoDeCuenta_1.png" alt="s2" style="width:80%" />
            <h7>Figure 1</h7>
        </div>

        <div class="pro">
            <img src="~/Images/RegistroEspecialista_1.png" alt="s2" style="width:80%" />
            <h7>Figure 2</h7>
        </div>

        <div class="pro">
            <img src="~/Images/Dashboard_1.png" alt="s2" style="width:80%" />
            <h7>Figure 3</h7>
        </div>
    </div>

    <p class="fs-5 mb-4">As figure 1 indicates, we offer the user two options to access our benefits:</p>
    <li>
        <h7>Pacient</h7>
    </li>
    <li>
        <h7>Specialist</h7>
    </li>
    <p class="fs-5 mb-4">In the event that the user wishes to use the specialist options, they must enter their ID number as indicated in figure 2.</p>

    <p class="fs-5 mb-4">Once the user registers as a specialist, in the interface the user can identify how their appointments appear on the calendar and at the same time can view the number of patients they have.</p>



    <div class="row">
        <div class="pro">
            <img src="~/Images/RegistroPaciente _1.png" alt="s2" style="width:80%" />
            <h7>Figure 4</h7>
        </div>

        <div class="pro">
            <img src="~/Images/Dashboard_12.png" alt="s2" style="width:80%" />
            <h7>Figure 5</h7>
        </div>

        <div class="pro">
            <img src="~/Images/Dashboard_Menu.png" alt="s2" style="width:80%" />
            <h7>Figure 6</h7>
        </div>
    </div>

    <p class="fs-5 mb-4">As we can see in Figure 4, when the user wishes to register as a patient, they will not be asked for their ID, since their email would be enough for authentication.</p>

    <p class="fs-5 mb-4">Already in Figure 5, the interface that the patient will be using is presented, in this case instead of appearing patients as shown in Figure 3. In this case the user will see their scheduled meetings, their duration and with which specialist they will meet.</p>

</body>

