
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/ArticleSS.css" media="all" />
</head>

<body>
    <h2>Profiles</h2>

    <p class="fs-5 mb-4">In this section we can find the articles published by our experts, with this segment we seek that our specialists feel free to be able to publish their opinions about the topics that are worked on in the area of health and psychology.</p>


    <div class="row">
        <div class="pro">
            <img src="~/Images/TipoDeCuenta_1.png" alt="s2" style="width:80%" />
            <h7>Figure 1</h7>
        </div>

        <div class="pro">
            <img src="~/Images/RegistroEspecialista_1.png" alt="s2" style="width:80%" />
            <h7>Figure 2</h7>
        </div>

        <div class="pro">
            <img src="~/Images/Dashboard_1.png" alt="s2" style="width:80%" />
            <h7>Figure 3</h7>
        </div>
    </div>

</body>

